<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/_css/style.css">
    <link rel="manifest" href="/public/manifest.json">
    <link rel="icon" type="imagem/png" href="/public/icon-512x512.png">
    <link rel="apple-touch-icon" type="imagem/png" href="/public/icon-512x512.png">
    <link rel="shortcut icon" type="imagem/png" href="/public/icon-512x512.png">
     <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <div>
        <a class="button" href="/">Page 1</a>
        <a class="button" href="#">Page 2</a>
        <a class="button" href="#">Page 3</a>
        <a class="button" href="#">Page 4</a>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, rerum consequatur quod obcaecati sint soluta iure aperiam non aliquid ipsum blanditiis at delectus cumque nisi, neque architecto. Illum, ipsam tenetur.</p>

    <h2>Teste título</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iusto voluptates delectus a, voluptatum sit cupiditate fugit animi mollitia, neque labore! Explicabo ut modi harum, quis dolorum pariatur! Est, voluptas.</p>

    <h2>Teste título</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iusto voluptates delectus a, voluptatum sit cupiditate fugit animi mollitia, neque labore! Explicabo ut modi harum, quis dolorum pariatur! Est, voluptas.</p>

    <h2>Teste título</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iusto voluptates delectus a, voluptatum sit cupiditate fugit animi mollitia, neque labore! Explicabo ut modi harum, quis dolorum pariatur! Est, voluptas.</p>

    <h2>Teste título</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iusto voluptates delectus a, voluptatum sit cupiditate fugit animi mollitia, neque labore! Explicabo ut modi harum, quis dolorum pariatur! Est, voluptas.</p>

    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('generate-sw.js')
        }
    </script>

</body>
</html>